{% extends "MasterPage.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section id="one">
{% if form.errors %}
<p>Password change failed</p>
{% endif %}
	

<div style="margin-left:20%;margin-right:20%">
    <header class="major">
        <h2>Change your password</h2>
    </header>  
	<form method="post" class="form-horizontal" action="{% url 'password_change' %}">
	{% csrf_token %}
	{{ form|crispy }}
	{{ form.media }}
	<input class="btn btn-primary" type="submit" value="Change my password" />
	</form>
</div>

  </section>
{% endblock %}