{% load staticfiles %}
<div style="margin-left:35%;width:250px" class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">
				<img src="{% static 'images/left_arrow.gif' %}" />
			</a>
		{% endif %}

		<span class="current">
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		</span>
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">
				<img src="{% static 'images/right_arrow.gif' %}" />
			</a>
		{% endif %}
	</span>
</div>